* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container-conteudo {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: 100px auto;
}

.img-principal {
    position: relative;
}

.img-principal img{
    width: 500px;
    height: 50vh;
    border-radius: 10px;
}

.imgs-secundarias {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.imgs-secundarias img {
    width: 160px;
    border-radius: 10px;
    cursor: pointer;
}

.imgs-secundarias img.selecionada {
    opacity: 0.6;
}

.container-info {
    margin-top: 50px;
    width: 500px;
}

.titulo-info {
    font-size: 36px;
}

.texto-info {
    margin-top: 20px;
}

.valor-produto {
    margin-top: 20px;
    font-size: 23px;
}

.container-botoes {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.botao-aumenta-quantidade {
    display: flex;
  
    align-items: center;
    
    font-size: 19px;
    width: 110px;
    height: 40px;
    border-radius: 5px;
}

.quantidade-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 100%; 
    background-color: rgb(247, 243, 243);
}

.diminui-item, 
.aumenta-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 243, 243);
    color: rgb(255, 140, 8);
    height: 100%; 
    width: 36px;
}

.diminui-item:hover, 
.aumenta-item:hover  {
    cursor: pointer;
    background-color: rgb(214, 212, 212);
}

.diminui-item {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.aumenta-item {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-compra {
    background-color: rgb(255, 140, 8);
    color: white;
    border: none;
    font-size: 19px;
    width: 360px;
    height: 40px;
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .container-conteudo {
        width: 90vw;
    }

    .img-principal img{
        width: 43vw;
    }

    .imgs-secundarias img{
        width: 14vw;
    }

    .container-info {
        width: 39vw;
    }

    .btn-compra {
        width: 25vw;
    }
}
 
@media (max-width: 768px) {
    .container-info {
        margin-top: 0;
    }

    .img-principal img{
        width: 350px;
    }

    .imgs-secundarias img{
        width: 110px;
    }

    .container-info {
        width: 300px;
    }

    .container-botoes {
        margin-top: 13px;
        flex-direction: column;
    }

    .botao-aumenta-quantidade {
        width: 100%;
        margin-bottom: 10px;
    }

    .btn-compra {
        width: 100%;
    }

    .quantidade-item {
        width: 15vw;
    }
    
    .diminui-item, 
    .aumenta-item {
        width: 15vw;
    }
}

@media (max-width: 425px) {
    .container-conteudo {
        flex-direction: column;
        width: 100vw;
    }

    .img-principal img{
        width: 100vw;
        max-height: 100%;
        border-radius: 0;
    }

    .setaEsquerda {
        height: 30px;
        width: 30px;
        bottom: 45%;
        left: 15px;
        position: absolute;
        z-index: 100000;
        border-bottom: 5px solid black;
        border-left: 5px solid black;
        transform: rotate(45deg);
    }

    .setaDireita {
        height: 30px;
        width: 30px;
        bottom: 45%;
        right: 15px;
        position: absolute;
        z-index: 100000;
        border-bottom: 5px solid black;
        border-right: 5px solid black;
        transform: rotate(-45deg);
    }

    .imgs-secundarias {
        display: none;
    }

    .container-info {
        width: 90vw;
        margin: auto;
    }

    .container-botoes {
        flex-direction: column;
    }

    .botao-aumenta-quantidade {
        width: 100%;
        margin-bottom: 10px;
    }

    .btn-compra {
        width: 100%;
    }
    .quantidade-item {
        width: 30vw;
    }
    
    .diminui-item, 
    .aumenta-item {
        width: 30vw;
    }
}


