* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.container-conteudo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.container-img {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.img-principal {
  width: 501px;
}

.img-principal img {
  width: 501px;
  max-height: 332px;
  border-radius: 10px;
}

.imgs-secundarias {
  display: flex;
  width: 501px;
  justify-content: space-between;
}

.imgs-secundarias img {
  width: 164px;
  border-radius: 10px;
}

.imgs-secundarias img.selecionada {
  opacity: 0.8;
}

.container-info {
  width: 40vw;
}

.titulo-info {
  font-size: 40px;
}

.texto-info {
  margin-top: 20px;
  font-size: 20px;
}

.valor-produto {
  margin-top: 15px;
  font-size: 25px;
}

.container-botoes {
  display: flex;
  margin-top: 20px;
}

.botao-aumenta-quantidade {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: rgb(238, 236, 236);
  border-radius: 10px;
  font-size: 20px;
}

.diminui-item,
.aumenta-item {
  color: rgb(255, 145, 1);
}

.botao-finaliza-compra {
  margin-left: 20px;
}

.btn-compra {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 50px;
  width: 250px;
  border-radius: 10px;
  background-color: rgb(255, 145, 1);
  color: white;
  font-size: 20px;
}

.container-menu1 {
  display: flex;
  justify-content: center;
  width: 800px;
  height: 500px;
  border: 1px solid rgb(99, 99, 99);
  border-radius: 10px;
}

.info-pessoal {
  display: flex;
  background-color: black;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .img-principal img {
    height: calc(39.5vw - 14vw);
    width: 39.5vw;
  }

  .imgs-secundarias {
    width: 39.5vw;
  }

  .imgs-secundarias img {
    width: 13vw;
  }

  .container-info {
    width: 40vw;
  }

  .texto-info {
    width: 38vw;
  }

  .valor-produto {
    font-size: 20px;
  }
}

.modal {
  position: absolute;
  z-index: 10000;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.is-active {
  display: flex;
}

@media (max-width: 768px) {
  body {
    height: 120vh;
  }
  .container-conteudo {
    flex-direction: column;
    margin-top: 100px;
  }

  .texto-info {
    text-align: justify;
  }

  .titulo-info {
    margin-top: 50px;
  }

  .btn-compra {
    width: 25vw;
  }
}

@media (max-width: 425px) {
  .container-img {
    height: unset;
    width: unset;
  }

  .setaEsquerda {
    height: 20px;
    width: 20px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    position: absolute;
    left: 20px;
    top: 130px;
    transform: rotate(45deg);
  }

  .setaDireita {
    height: 20px;
    width: 20px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    position: absolute;
    right: 20px;
    top: 130px;
    transform: rotate(-135deg);
  }

  .img-principal {
    position: relative;
    height: unset;
    width: unset;
    margin: unset;
  }

  .img-principal img {
    height: unset;
    width: 100vw;
    height: 70vw;
    border-radius: 0;
  }
  .imgs-secundarias {
    display: none;
  }

  .container-info {
    width: 90vw;
  }

  .texto-info {
    width: 90vw;
  }

  .container-botoes {
    flex-direction: column;
  }

  .botao-aumenta-quantidade {
    width: 80vw;
    margin-left: 20px;
    margin-bottom: 15px;
  }

  .btn-compra {
    margin: unset;
    width: 80vw;
  }
}

@media (max-width: 320px) {
  .setaEsquerda,
  .setaDireita {
    top: 100px;
  }
}
