<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style-produto.css">
    <title>Derriere</title>
</head>
<body>
    <header class="container-cabecalho">
        <nav class="container-links">
            <a href="#"><h1 class="titulo-logo">Derriere</h1></a>
            <div class="menu-responsivo">
                <div class="menu-hamburguer1"></div>
                <div class="menu-hamburguer2"></div>
                <div class="menu-hamburguer3"></div>
            </div>
            <ul class="lista-links">
                <li><a href="#" class="link-cabecalho">Básico</a></li>
                <li><a href="#" class="link-cabecalho">Casual de luxo</a></li>
                <li><a href="#" class="link-cabecalho">Nossa história</a></li>
            </ul>
        </nav>   
    </header>  
    <div class="container-conteudo">
        <div class="container-img">
            <div class="img-principal">
                <img src="https://media.istockphoto.com/photos/its-the-denim-that-does-it-for-me-picture-id1307568521?k=20&m=1307568521&s=612x612&w=0&h=bHsngfNBlFvhjzNMC_Bv6-K0BxU-dRiTWA7MulzMoCM=" alt="">
            </div>
            <div class="imgs-secundarias">
                <div class="img-1"><img src="https://media.istockphoto.com/photos/its-the-denim-that-does-it-for-me-picture-id1307568521?k=20&m=1307568521&s=612x612&w=0&h=bHsngfNBlFvhjzNMC_Bv6-K0BxU-dRiTWA7MulzMoCM=" alt=""></div>
                <div class="img-2"><img src="https://media.istockphoto.com/photos/skinny-jeans-are-so-last-season-picture-id1307401279?k=20&m=1307401279&s=612x612&w=0&h=Fx8XpCbvzUGG9qUFv4Uvtf5sJMoPSpQaPFxFg1MuKC8=" alt=""></div>
                <div class="img-3"><img src="https://media.istockphoto.com/photos/move-forward-and-make-it-fabulous-picture-id1307401232?k=20&m=1307401232&s=612x612&w=0&h=CMuPJnW5O6N6TrS14lU2PCvq_9DzRjAja1hWPXowtY4=" alt="muler usando calça"></div>
            </div>         
        </div>
        <div class="container-info">
            <h1 class="titulo-info">Calça jeans</h1>
            <p class="texto-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <h3 class="valor-produto">R$ 99,99</h3>
            <div class="container-botoes">
                <div class="botao-aumenta-quantidade">
                    <div class="diminui-item">-</div>
                    <div class="quantidade-item">1</div>
                    <div class="aumenta-item">+</div>
                </div>
                <div class="botao-finaliza-compra">
                    <input class="btn-compra" type="button" value="Comprar">
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../script/mostra-produto.js"></script>
</html>