<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style-produto.css">
    <title>Derriere</title>
</head>
<body>
    <header class="container-cabecalho">
        <nav class="container-links">
            <a href="../index.html"><h1 class="titulo-logo">Derriere</h1></a>
            <div class="menu-responsivo">
                <div class="menu-hamburguer1"></div>
                <div class="menu-hamburguer2"></div>
                <div class="menu-hamburguer3"></div>
            </div>
            <ul class="lista-links">
                <li><a href="#" class="link-cabecalho">Básico</a></li>
                <li><a href="#" class="link-cabecalho">Casual de luxo</a></li>
                <li><a href="#" class="link-cabecalho">Nossa história</a></li>
            </ul>
        </nav>   
    </header>  
    <div class="container-conteudo">
        <div class="container-img">
            <div class="img-principal"><img src="https://images.unsplash.com/photo-1600075110701-6ea93b9b5f70?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" alt=""></div>
            <div class="imgs-secundarias">
                <div class="img-1"><img src="https://images.unsplash.com/photo-1600075110701-6ea93b9b5f70?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" alt=""></div>
                <div class="img-2"><img src="https://images.unsplash.com/photo-1600074342998-f1976c2fa299?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt=""></div>
                <div class="img-3"><img src="https://images.unsplash.com/photo-1600074249296-cf0175062aca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt=""></div>
            </div>         
        </div>
        <div class="container-info">
            <h1 class="titulo-info">Vestido casual de luxo</h1>
            <p class="texto-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <h3 class="valor-produto">R$ 149,99</h3>
            <div class="container-botoes">
                <div class="botao-aumenta-quantidade">
                    <div class="diminui-item">-</div>
                    <div class="quantidade-item">0</div>
                    <div class="aumenta-item">+</div>
                </div>
                <div class="botao-finaliza-compra">
                    <input class="btn-compra" type="button" value="Comprar">
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../script/mostra-produto.js"></script>
</html>